 /* Setting rules */
 :root {
    --tobool-black: #000000FF;
    --tobool-lightgrey: #f6f8f9FF;
    --tobool-grey: #D0D5D9;
    --tobool-red-cross: #EF6D65;
    --tobool-green: #64C0A9;
    --tobool-lightblue: #45ABEA;
    --tobool-violet: #9C72E4;
    --tobool-orange: #F29E33;
    --tobool-pink: #D863A1;
    --tobool-lime: #B0C926;
 }

 * {
    font-family: sans-serif;
    color: var(--tobool-black);
    margin: 0;
   }

   main{
      background-color: var(--tobool-lightgrey);
      padding-top: 2.5rem;
   }

   .container {
     width: 835px;
     margin: auto;
     background-color: white;
   }

 /* Header */
.header_container {
   background-color: white;
   padding: 1rem;
}

 .text_header {
    font-size: 2.3rem;
    font-weight: bold;
    display: inline-block;
 }

 .logo_header,
 .text_header {
    vertical-align: middle;
    margin: 0;
 }
 
 /* Main */

 /* button section */

 .add_button {
    border-bottom: 2px solid var(--tobool-lightgrey);
    border-radius: 3px;
    padding: 0.8rem 1rem 0.4rem 2.5rem;
 }

#bt_task, #bt_section {
   padding: 0.4rem 0.8rem;
   font-size: 0.7rem;
   border-radius: 6px;
}

#bt_task {
   border-color: var(--tobool-lightblue);
   color: white;
   background-color: var(--tobool-lightblue);
}

#bt_section {
   color: var(--tobool-grey);
   background-color: white;
   border-color: var(--tobool-grey);
}

/* Selection with drop down menu */

.list_container {
   padding: 2.5em ;
   font-size: 0.8rem;
}

.task_list{
   font-size: 0.9rem;
   padding: 0.7rem 0;
}

#checkmark, #cross {

   margin-right: 0.5rem;
   border: 1px solid;
   border-radius: 50%;
}

#checkmark {
   color:  var(--tobool-green);
   border-color:  var(--tobool-green);
   padding: 0 3px;
}

#cross {
   color:  var(--tobool-red-cross);
   border-color:  var(--tobool-red-cross);
   padding: 0 0.2rem;
}

.label {
   color: white;
   font-size: 0.6rem;
   padding: 0.4rem;
   border-radius: 15px;
   vertical-align: middle;
   margin-left: 0.5rem;

}

#editional_label {
   background-color: var(--tobool-lightblue);
}
